# VSCode files
**/.vscode

# NPM Modules
**/node_modules

# Alura's Javascript course transpiled files
alura/javascript/javascript-avancado-i-aula1/aluraframe/client/js/app

# Mac OS zip files
**/__MACOSX

# Webpack output directory.
**/dist

# Angular server database file
**/api/data.db

# Angular server image upload directory
**/api/uploads
