<!-- "onTyping" is a custom event emitter declared on "search.component.ts" of type "EventEmitter". "photo-list" component will be listening to this event (hence the parenthesis on it, it is an outbound property) and "search" component will send events through it. -->
<ap-search 
    (onTyping)="filter = $event" 
    [value]="filter">
</ap-search>
<!-- The expression on "[photos]" attribute contais a pipe. A pipe is a method applied on the left content of the pipe character (photos). It this case, it also receives "filter" as another parameter. -->
<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>

<ap-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
</ap-load-button>