.svg-plano-24h {
	background: url("/assets/img/planos.svg") 0 69.34306569343066% no-repeat;
}

.svg-plano-24h-dims {
	width: 47px;
	height: 34px;
}

.svg-plano-acesso {
	background: url("/assets/img/planos.svg") 3.3121916842847074% 67.85714285714286% no-repeat;
}

.svg-plano-acesso-dims {
	width: 24px;
	height: 31px;
}

.svg-plano-barra-aulas {
	background: url("/assets/img/planos.svg") 5.0247699929228595% 65.06849315068493% no-repeat;
}

.svg-plano-barra-aulas-dims {
	width: 30px;
	height: 25px;
}

.svg-plano-barra-cursos {
	background: url("/assets/img/planos.svg") 7.117688513037351% 65.06849315068493% no-repeat;
}

.svg-plano-barra-cursos-dims {
	width: 24px;
	height: 25px;
}

.svg-plano-barra-exercicios {
	background: url("/assets/img/planos.svg") 8.815232722143865% 65.06849315068493% no-repeat;
}

.svg-plano-barra-exercicios-dims {
	width: 25px;
	height: 25px;
}

.svg-plano-certificado {
	background: url("/assets/img/planos.svg") 0 100% no-repeat;
}

.svg-plano-certificado-dims {
	width: 38px;
	height: 42px;
}

.svg-plano-checked {
	background: url("/assets/img/planos.svg") 10.518934081346423% 60.12658227848101% no-repeat;
}

.svg-plano-checked-dims {
	width: 17px;
	height: 13px;
}

.svg-plano-cursos {
	background: url("/assets/img/planos.svg") 2.69694819020582% 96.26865671641791% no-repeat;
}

.svg-plano-cursos-dims {
	width: 34px;
	height: 37px;
}

.svg-plano-onda {
	background: url("/assets/img/planos.svg") 0 0 no-repeat;
}

.svg-plano-onda-dims {
	width: 1442.8px;
	height: 95px;
}

.svg-plano-unchecked {
	background: url("/assets/img/planos.svg") 5.038488453463961% 82.6923076923077% no-repeat;
}

.svg-plano-unchecked-dims {
	width: 14px;
	height: 15px;
}

